{% load staticfiles %}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

#scroller {
    background: transparent url('/static/img/up.png') no-repeat left top;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    display:none;
}

#header-date, #header-valuta {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #837f7f;
}

.red {
    color: #ff4242;
}

.gray {
    color: #837f7f;
}

.green {
    color: #34ce7c;
}

i.fa {
    display: inline-block;
    padding: 10px;
}

.social a {
    text-align: center;
    width: 41px;
    height: 41px;
    float: right;
    color: #cccccc;
}

.facebook a:hover {
    background: #3b5998;
    color: #ffffff;
}

.vk a:hover {
    background: #5d84ae;
    color: #ffffff;
}

.odnoklassniki a:hover {
    background: #ff9933;
    color: #ffffff;
}

.telegram a:hover {
    background: #249bd7;
    color: #ffffff;
}

hr.nomargin {
    margin: 0;
}

.nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

a.nav-link {
    font-size: 20px;
    font-weight: bold;
}

.dropdown-toggle::after {
    display: none;
}

#top-footer {
    border-top: 7px solid #000;
    margin-bottom: 2px;
}

#bottom-footer {
    border-top: 2px solid #000;
    padding-top: 15px;
}

i.studio {
    float: right;
    padding-bottom: 15px;
}

.avatar {
    border-radius: 5px;
}

/*#id_email, #id_place, #id_experience {
    margin-bottom: 20px;
}

#id_email, #id_place, #id_experience, #id_sex {
    width: 100%;
    height: 30px;
}*/

.newsborder {
    border: 1px solid rgba(0,0,0,.1);
}

.newstitle {
    background: #f8f9fa;
    padding-left: 30px;
}

figure {
    text-align: center;
}

p {
    text-align: justify;
}

.newstext {
    height: 128px;
    color: #ffffff;
}

.newsfull {
    color: #000000;
}

a.onward {
    text-decoration: underline;
    color: #837f7f;
    float: right;
}

a.onward:hover {
    color: #000000;
}

.newsfooter {
    background: #f8f9fa;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.popular {
    border: 1px solid rgba(0,0,0,.1);
}

.populars {
    background-color: #D4EE9F;
    padding: 5px;
    text-align: center;
}

.popular-articles {
    padding: 7px 15px;
    background-color: #f8f9fa;
    font-size: 14px;
}

.popular-title {
    padding-top: 7px;
}

.popular-views {
    padding-bottom: 7px;
    text-align: right;
}

.upmargin {
    margin: 7px 0px 0px;
}

#vk_groups, #vk_groups iframe {
     width: 100% !important;
}

#__okGroup0{
    width: 100% !important;
}

.n-link {
    color: #2a5885;
}

.s-link {
    font-size: 13px;
    font-weight: 700;
    color: #2a5885;
}